
<a href="/">
  <img src="/static/site-logo.svg" alt="Diceroll" id="site-logo">
</a>
<nav class="topnav" id="topnavElement">
    <a href="/" title="Home">Home</a>
    <a href="/dice/" title="Roll Die">Dice</a>
    <a href="/coin/" title="Coin">Coin</a>
    <a href="/magic-8-ball/" title="Magic 8-Ball">Magic 8-Ball</a>
    <a href="/random-numbers/" title="Random Numbers">Random Numbers</a>
    <!-- <button onclick="TopNavToggle()" class="nav-toggle"><i class="fa fa-bars"></i></button> -->
    <a href="javascript:void(0);" class="icon" onclick="TopNavToggle()"><i class="fa fa-bars"></i></a>
        
</nav>

